/node_modules
/lib
/hooks
/platforms/android
/platforms/ios-old
/platforms/ios-temp
*.js
*.map
/.idea
/Resources
/mirage-key.keystore
.DS_Store

/platforms/ios/internal
/platforms/ios/mirageapp
*.xcodeproj
*.xcworkspace
/platforms/ios/Podfile
*.lock
*.xcconfig
/platforms/ios/Pods