Page {
    background-color: black;
}

TextField {
    padding: 10px;
    font-style: normal;
}

.logo {
    margin: 20px;
    border: none;
}

.container {
    margin: 0 20px;
    background-color: white;
}

.qr-code-icon {
    margin: 12px;
    horizontal-align: right;
}

.stage {
    background-image: url('res://stage');
    background-repeat: repeat-x;
    background-size: contain;
    background-position: bottom left;
}

.foreground-statue {
    height: 220px;
    margin-bottom: 70px;
    margin-top: 10px;
    vertical-align: bottom;
    horizontal-align: center;
}

.background-statue {
    height: 150px;
    margin-bottom: 100px;
    margin-top: 10px;
    vertical-align: bottom;
    horizontal-align: center;
}

.menu-button {
    width: 75px;
    height: 75px;
    background-color: #00af40;
    border-width: 5;
    border-color: #009035;
    border-radius: 50;
}

.hologram {
    background-image: url('res://hologram_icon');
    background-repeat: no-repeat;
    background-position: center;
}

.news {
    background-image: url('res://news_icon');
    background-repeat: no-repeat;
    background-position: center;
}

.soap {
    background-image: url('res://soap_icon');
    background-repeat: no-repeat;
    background-position: center;
}

.settings {
    background-image: url('res://settings_icon');
    background-repeat: no-repeat;
    background-position: center;
}