.drawer-container {
    background-color: white;
}

.drawer-header {
    height: 100px;
    padding: 10px;
    background-color: #39B54A;
    color: white;
}

.drawer-header-avatar {
    margin: 10px;
}

.drawer-menu {
    width: 100%;
    padding: 20px;
    /*margin: 1px 0;*/
}

.drawer-logo {
    margin: 40px;
}

.action-bar-container {
    background-color: white;
    padding: 0 20px;
}

.progress-container {
    background-color: white;
    padding: 20px;
}

.progress-bar {
    color: #e50051
}

.progress-text {
    text-align: right;
    margin-top: -25;
}

.mini-label {
    font-size: 12px;
}

.large-label {
    font-size: 25;
    margin-top: 5%;
}

.menu-icon {
    margin: 0 10px;
}

.qr_code-icon {
    margin: 0 5px;
}

.mirage-label {
    margin: 0 20px;
    font-size: 22px;
}

.stage {
    background-image: url('res://stage');
    background-repeat: repeat-x;
    background-size: cover;
    background-position: bottom center;
}

.stage-dark {
    background-image: url('res://stage_dark');
    background-repeat: repeat-x;
    background-size: cover;
    background-position: bottom center;
}

.foreground-statue {
    height: 70%;
    margin-bottom: 10%;
    vertical-align: bottom;
    horizontal-align: center;
}

.background-statue {
    height: 50%;
    margin-bottom: 20%;
    vertical-align: bottom;
    horizontal-align: center;
}