Button{
/*	color: white;
	font-size:20;*/
	width:80;
	height:80;
/*	border-width:1;
	border-color: #E9007C;*/
	border-radius:40;
	/*background-color: #E9007C;*/
	/*margin: 10;*/
	/*vertical-align: center;*/
}
Label{
/*	 horizontal-align: center;
	color: white;
	font-size:20;*/
	width:80;
	height:80;
/*	border-width:1;
	border-color: #E9007C;*/
	border-radius:40;
	background-color: #E9007C;
	text-align: center;
	/*margin: 50;*/
}
.button-small{
	width:40;
	height:40;
	border-radius:20;
}