Page {
    background-color: #ebebeb;
}

.action-bar-container {
    background-color: white;
    padding: 0 20px;
}

.menu-icon {
    margin: 0 10px;
}

.action-bar-label {
    margin: 0 20px;
    font-size: 22px;
}

.item {
    height: 50px;
    background-color: #dedede;
    margin-bottom: 1px;
    padding: 0 20px;
}

.item-content {
    vertical-align: center;
}

.right {
    text-align: left;
    horizontal-align: right;
}

.search-container {
    padding: 10px;
}

.search-bar {
    margin: 5px;
}

.search-result-label {
    margin: 10px;
}

.result-product-name {
    vertical-align: center;
}

.result-product-image {
    vertical-align: center;
    margin: 10px;
}

.result-view {
    margin: 10px;
    padding: 10px;
}