.stage {
    background-image: url('res://stage');
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center center;

    padding: 25px;

}

.container {
    background-color: #009fe3;
    padding: 30px;
}

.label {
    color: white;
    text-align: center;
}

.top {
    font-size: 15px;
}

.bottom {
    font-size: 30px;
}

Button {
    width: 100%;
    background-color: white;
    color: #009fe3;
    font-size: 20px;
    border-radius: 2;
    height: 25%;
    margin: 10% 0 0 0;
}

TextField {
    text-align: center;
    color: white;
}