Label{
	 horizontal-align: center;
	 margin-top: 10;
	 margin-right: 10;
	 margin-right: 20;
	 margin-left: 20;
}

Button{
	 horizontal-align: center;
	 padding: 3;
	 margin: 20;
	 font-size: 30;
}
.label-1{
	horizontal-align: center;
	margin: 10;
}
.lable-big{
	horizontal-align: center;
	font-size: 30;
	margin: 15;

}