.label-intro{
	background-color: #9B9B9B;
	font-size: 40;
	/*horizontal-align: center;*/
	text-align: center;
	padding: 10;
}

.lable-margin{
	font-size: 25;
	margin-top: 50;
	margin-left: 30;
	margin-right: 30;
}
.lable-normal{
	margin-left: 30;
	margin-right: 30;
	font-size: 25;
}
