Page {
    background-color: black;
}

.grid-info {
    margin-top: 20;
    margin-left: 5;
    margin-right: 5;
    margin-bottom: 10;
}

.grid-left {
    margin: 5;
    background-color: #65553C;
}

.grid-intro {
    background-color: white;
}

.image {
    background-color: #65553C;
    vertical-align: center;
}

.label-name {
    background-color: #65553C;
    font-size: 20;
    horizontal-align: center;
}

.label-infotop {
    font-size: 15;
    margin-top: 10;
    margin-left: 10;
}

.label-infochild {
    font-size: 15;
    margin-left: 10;
}

.label-infodown {
    font-size: 15;
    margin-left: 10;
    margin-bottom: 10;
}

.image-video {
    background-color: red;
}