<Page loaded="pageLoaded" android:actionBarHidden="true" xmlns:dd="nativescript-drop-down">

    <GridLayout rows="80,*5,*2">

        <GridLayout class="action-bar-container" row="0" columns="1*,5*,1*">

            <Image class="menu-icon" col="0" src="res://menu_icon"
                   horizontalAlignment="center" verticalAlignment="center"
                   stretch="aspectFit" tap="{{ tapBack }}"/>

            <Label text="SETTINGS" class="action-bar-label" col="1" horizontalAlignment="left"
                   verticalAlignment="center"/>

        </GridLayout>

        <StackLayout class="settings-container" row="1">

            <GridLayout class="item" columns="*,*">
                <Label class="item-content" text="Language" tap="tapLanguage" col="0"/>
                <dd:DropDown id="dropdown" class="item-content right"
                             col="1" items="{{ languages }}"
                             selectedIndex="{{ selectedLanguage }}"/>
            </GridLayout>

            <GridLayout class="item" columns="*,*">
                <Label class="item-content" text="Newsletter" col="0"/>
                <Switch class="item-content right" checked="{{ newsletterToggle }}" col="1"/>
            </GridLayout>

            <Button text="LOGOUT" tap="{{ tapLogout }}" class="logout-button"/>

        </StackLayout>

    </GridLayout>

</Page>