Page {
    background-color: white;
}

TextField {
    font-size: 20px;
    color: white;
    margin: 5px 0 0 0;
    padding: 3px;
}

Button {
    width: 100%;
    background-color: white;
    color: #39B54A;
    font-size: 20px;
    border-radius: 2;
    height: 25%;
    margin: 10% 0 0 0;
}

.logo {
    vertical-align: center;
    horizontal-align: center;
    margin: 60px;
}

.form {
    background-color: #39B54A;
    padding: 15px 30px 0 30px;
}

.field{
    height: 60px;
}
